:host {
  box-shadow:0 1px 3px 0 rgba(0,0,0,.2);;
  border-radius: 5px;
  display: block;
  padding: 18px 14px;
  box-sizing: border-box;
  h2 {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 30px ;
  }
  .amount-text {
    font-size: 12px;
  }
  [class^="icon-"],
  [class*=" icon-"]{
    padding-bottom: 18px;
  }
}
