.form-filter {
  background-color: #275c9a;
  color: #fff;
  display: block;
  padding-top: 7px;
  div {
    float: left;
  }
  .icon-filter:before {
    position: relative;
    top: 3px;
    padding-right: 5px;
    font-weight: bold;
  }
}
