<h3>{{data[0].header}} vs {{data[1].header}}</h3>
<div class="card" *ngIf="series">
  <div class="card-content"
    style="width: 300px"
    fxLayout="row"
    fxLayoutGap="15px"
    fxLayoutAlign="space-around center">
    <div fxFlex="33" class="graph">
      <ngx-charts-pie-chart
        [view]="[148, 148]"
        [scheme]="{ domain: [data[0].color, '#d0cfca'] }"
        [results]="series"
        [legend]="false"
        [explodeSlices]="true"
        [labels]="false"
        [doughnut]="true"
        [legendPosition]="''"
        [legendTitle]="''"
        [gradient]="true">
      </ngx-charts-pie-chart>
      <ngx-charts-pie-chart
        class="graph-inner"
        [view]="[103, 103]"
        [scheme]="{ domain: [data[1].color, '#d0cfca'] }"
        [results]="seriesInner"
        [legend]="false"
        [explodeSlices]="true"
        [labels]="false"
        [doughnut]="true"
        [legendPosition]="''"
        [legendTitle]="''"
        [gradient]="true">
      </ngx-charts-pie-chart>
    </div>

    <div class="amount">
      {{data[0].amount}}%
      <div class="label"
        fxLayout="row"
        fxLayoutAlign="start center">
        <div class="color-block"
          [ngStyle]="{
            'background-color': data[0].color
          }" ></div>
        <div class="legend">{{data[0].header}}</div>
      </div>
    </div>

    <div class="amount">{{data[1].amount}}%
      <div class="label"
        fxLayout="row"
        fxLayoutAlign="start center">
        <div class="color-block"
          [ngStyle]="{
            'background-color': data[1].color
          }" ></div>
          <div class="legend">{{data[1].header}}</div>
      </div>
    </div>
  </div>
</div>
