$expandible-header:               #603db1;
$expandible-header-text:          #fefefe;
$table-header-text:               #603db1;
$menu-background:                 #603db1;
$white:                           #ffffff;
$gray-dark:                       #333;
$gray:                            #888888;
$gray-light:                      #ccc;
$thead:                             #ccc;
$gray-extra-light:                #eee;
$td-hover:                        #eee;
$delete-button:                   $gray;
$proceed-button:                  #603db1;
$link-hover:                      #cccccc;
$important-notice-border:          #f8d85f;
$black:                           #333;
$button-color:                       #1b778e;
$menu-color:                        #1b778e;
$background-color:                  #eee;
$success-color:                     #4f8a10;
$success-color-background:           #dff2bf;
$error-color:                       #d8000c;
$error-color-background:            #ffd2d2;
$warning-color:                     #9f6000;
$warning-color-background:            #feefb3;