.table-top-inputs-container {
  overflow-y: hidden;
  margin-right: 20px;
  margin-top: 20px;
  form-button {
    margin-top: 10px;
  }
  fieldset {
    padding-right: 0px;
  }
  form-dropdown {
    float: left;
    margin-top: -10px;
    width: 100%;
    display: block;
    overflow: hidden;
  }
  form-input {
    float: left;
    width: 100%;
    margin-top: -10px;
    input {
      width: 100%;
    }
  }
}

.table-container {
  overflow-x: auto; 
  width: 100%;
  padding: 0 20px;
}

table {
  width :100%;
  margin-bottom: 10px;
  margin-top: 10px;
  td {
    border-bottom: none;
    border-top: none;
    padding: 5px 20px;
    &.number {
      text-align: right;
    }
    &.text {
      text-align: left;
    }

  }
  tbody {
    // tr:nth-child(odd) {
    //   background-color: $td-hover;
    // }
    tr {
      &:hover {
        background-color: $gray-extra-light;
      }
    }
  }
  thead, .table-header {
    // color: $table-header-text;
    // font-weight: bold;
    td {
      border-top: 1px solid $gray-light;
      border-bottom: 1px solid $gray-light;
      padding: 10px 20px
    }
  }
}

